<div flex layout="row">
  <md-sidenav  class="md-sidenav-left" md-whiteframe="4" ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" >

      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{patientDetail.patient.name[0].given + ' '+ patientDetail.patient.name[0].family}}</span>
            <span class="md-subhead">{{patientDetail.patient.gender}} &nbsp;&nbsp; <b> DOB: </b>{{patientDetail.patient.birthDate}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>

    <md-list flex="" >
    <span style="padding-left:20px;">
     <md-icon md-svg-icon='./assets/svg/list.svg' ></md-icon> Table of Contents
    </span>
     <contents-button section="'Patient Information'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Allergies'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Encounters'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Immunizations'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Conditions'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Prescriptions'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Procedures'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Lab Results'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
     <contents-button section="'Vital Signs'" get-fn="patientDetail.getSelectedSection()" set-fn="patientDetail.setSelectedSection(arg1)">
     </contents-button>
    </md-list>
  </md-sidenav>
  
  <md-content flex>
  
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
        <span>Summary of Care:</span>
      </h2>
    </md-toolbar>

    <md-card>
      <section id="Patient Information">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/experiment-results.svg' style="padding-right:10px;"></md-icon>Patient Information</md-subheader>
        <md-divider ></md-divider>
        <div ng-show="patientDetail.patient == undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line">
            <resource-item resource="'Patient'" entry="patientDetail.patient" last="true">
            </resource-item>
          </md-list-item>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Allergies">
        <md-subheader class="md-warn"><md-icon md-svg-icon='./assets/svg/warning.svg' style="padding-right:10px;"></md-icon>Allergies</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.allergyEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.allergyEntries">
            <resource-item resource="'AllergyIntolerance'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.allergyEntries.length && patientDetail.allergyEntries != undefined" style="text-align:center;">- N/A -<h3>
        </md-list>
      </section>
    </md-card>
    
    <md-card>
      <section  id="Encounters">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/hospital.svg' style="padding-right:10px;"></md-icon>Encounters</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.encounterEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.encounterEntries">
            <resource-item resource="'Encounter'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.encounterEntries.length && patientDetail.encounterEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section  id="Immunizations">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/syringe.svg' style="padding-right:10px;"></md-icon>Immunizations</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.immunizationEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.immunizationEntries">
            <resource-item resource="'Immunization'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.immunizationEntries.length && patientDetail.immunizationEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Conditions">
        <md-subheader class="md-warn"><md-icon md-svg-icon='./assets/svg/heart-beats.svg' style="padding-right:10px;"></md-icon>Conditions</md-subheader>
        <md-divider ></md-divider>
        <div ng-show="patientDetail.conditionEntries == undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.conditionEntries">
            <resource-item resource="'Condition'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.conditionEntries.length && patientDetail.conditionEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Prescriptions">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/pills.svg' style="padding-right:10px;"></md-icon>Prescriptions</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.prescriptions != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.prescriptions">

            <resource-item resource="'MedicationPrescription'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.prescriptions.length && patientDetail.prescriptions != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Procedures">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/scalpel.svg' style="padding-right:10px;"></md-icon>Procedures</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.procedureEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.procedureEntries">
            <resource-item resource="'Procedure'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.procedureEntries.length && patientDetail.procedureEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Lab Results">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/microscope.svg' style="padding-right:10px;"></md-icon>Lab Results</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.diagnosticReportEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.diagnosticReportEntries">
            <resource-item resource="'DiagnosticReport'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.diagnosticReportEntries.length && patientDetail.diagnosticReportEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

    <md-card>
      <section id="Vital Signs">
        <md-subheader class="md-primary"><md-icon md-svg-icon='./assets/svg/pulse.svg' style="padding-right:10px;"></md-icon>Vital Signs</md-subheader>
        <md-divider ></md-divider>
        <div ng-hide="patientDetail.observationEntries != undefined" style="position: relative;"><span us-spinner></span></div>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-3-line" ng-repeat="entry in patientDetail.observationEntries">
            <resource-item resource="'Observation'" entry="entry" last="$last">
            </resource-item>
          </md-list-item>
          <h3 ng-show="!patientDetail.observationEntries.length && patientDetail.observationEntries != undefined" style="text-align:center;">N/A <h3>
        </md-list>
      </section>
    </md-card>

  </md-content>
</div>