       
  <div flex layout="row">
        <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" style="background-color:#424242;">
          <md-list>
            <md-list-item ng-repeat="patient in patients.patientEntries() | filter:query">
                <md-button ng-click="patients.selectPatient(patient)" ng-class="{'selected' : patient === patients.selected }" class="md-raised md-accent">
                  {{patient.resource.name[0].given + ' '+ patient.resource.name[0].family}}
                </md-button>
            </md-list-item>
          </md-list>
          
          <md-list ng-show="patients.showTableOfContents">
            <md-list-item ng-repeat="content in patients.tableOfContents(patients.selected)">
                <md-button ng-click="" ng-class="">
                  {{'  ' + content}}
                </md-button>
            </md-list-item>
          </md-list>

        </md-sidenav>

            </div>