<div flex layout="row">
  <md-sidenav  ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" style="background-color:#424242;" >
    <md-list flex="" >
      <md-subheader style="background-color:#424242;color:white;">Availible Resources:</md-subheader>
      <md-list-item>
        <md-button class="md-primary" ng-click="resources.loadResources('Patient');showResources = ! resources.isNoneSelected();" ng-class="resources.isSelectedType('Patient') ? 'selected' : 'unselected'">
          Patients
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary" ng-click="resources.loadResources('Condition');showResources = ! resources.isNoneSelected();" ng-class="resources.isSelectedType('Condition') ? 'selected' : 'unselected'">
          Conditions
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary" ng-click="resources.loadResources('Procedure');showResources = ! resources.isNoneSelected();" ng-class="resources.isSelectedType('Procedure') ? 'selected' : 'unselected'">
          Procedures
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary" ng-click="resources.loadResources('MedicationPrescription');showResources = ! resources.isNoneSelected();" ng-class="resources.isSelectedType('MedicationPrescription') ? 'selected' : 'unselected'">
          Medication Prescriptions
        </md-button>
      </md-list-item>
      <md-list-item>
        <md-button class="md-primary" ng-click="resources.loadResources('Medication');showResources = ! resources.isNoneSelected();" ng-class="resources.isSelectedType('Medication') ? 'selected' : 'unselected'">
          Medication
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content flex>
    
    <md-card ng-show="!showResources">
      <section id="Splashpage">
        <md-divider ></md-divider>
        <md-list flex="">
          <md-list-item class="md-3-line">
            <div class="md-list-item-text">   
              <md-icon md-svg-icon='./assets/svg/ic_arrow_back.svg' style="padding-right:10px;"></md-icon>   
              <b>Click a resource type to load resources.</b>       
            </div>
          </md-list-item>
        </md-list>
      </section>
    </md-card>

    <md-toolbar class="md-primary" ng-show="showResources">
      <div class="md-toolbar-tools">
        <h2 flex="2">
          {{resources.resourceType + 's:'}}
        </h2>
        <md-button class="md-raised md-warn" aria-label="Search" ng-click="showSearch = !showSearch" md-theme="button">
          <md-icon md-svg-icon="search_white" ></md-icon>
          <label class="button-text">Search</label>
        </md-button>    
        <div class="search-container">     
          <md-input-container md-theme="input" ng-show="showSearch">
            <label>&nbsp;</label>
            <input ng-model="query" placeholder="enter search" style="background-color:white;">
          </md-input-container>
        </div>
      </div>
    </md-toolbar>

    <md-card ng-show="showResources">
      <section id="Resources List">
        <div ng-hide="resources.resList"><span us-spinner></span></div>
        <md-divider ></md-divider>
        <md-list class="md-dense" flex="">
          <md-list-item class="md-2-line" ng-repeat="entry in resources.resourceEntries | filter:query">
            <md-button ng-click="resources.navigateToResource(entry.resource.id)">   
              <div class="md-list-item-text" ng-show="resources.isSelectedType('Patient')">                    
                <h3><b>{{entry.resource.name[0].given + ' '+ entry.resource.name[0].family}}</b></h3>
                <p><b>Id:</b> {{entry.resource.id}}</p>
                <p><b>DOB: </b> {{entry.resource.birthDate}} <b>Gender: </b> {{entry.resource.gender}}</p>             
              </div>           
              <div class="md-list-item-text" ng-show="resources.isSelectedType('Condition')">        
                <h3><b>{{entry.resource.code.coding[0].display + ' ' + entry.resource.code.coding[0].code}}</b></h3>
                <p><b>Id:</b> {{entry.resource.id}}</p>
                <p><b>Status: </b> {{entry.resource.verificationStatus}}</p>         
              </div>
              <div class="md-list-item-text" ng-show="resources.isSelectedType('Procedure')">        
                <h3>{{entry.resource.code.coding[0].display + ' ' + entry.resource.code.coding[0].code}} </h3>
                <p><b>Performed on:</b> {{entry.resource.performedDateTime}} <b>Reason: </b>{{entry.resource.reasonCodeableConcept.text}}</p>
                <p><b>Performed by:</b> {{entry.resource.performer.actor[0].display}}</p>       
              </div>
              <div class="md-list-item-text" ng-show="resources.isSelectedType('MedicationPrescription')"> 
                <p><b>Id:</b> {{entry.resource.id}}</p>         
                <p><b>Dose: </b>  {{entry.resource.dosageInstruction[0].doseQuantity.value}}</p>
                <p><b>Route:</b>  {{entry.resource.dosageInstruction[0].route.coding[0].display}}</p>       
              </div>
              <div class="md-list-item-text" ng-show="resources.isSelectedType('Medication')">        
                <h3><b>{{entry.resource.code.coding[0].display + ' ' + entry.resource.code.coding[0].code}}</b></h3>
                <p><b>Id:</b> {{entry.resource.id}}</p>
                <p><b>Dose form: </b> {{entry.resource.form.coding[0].display}}</p>         
              </div>
            </md-button>
            <md-divider ></md-divider>
          </md-list-item>
        </md-list>
      </section>
    </md-card>
    
  </md-content>
</div>